<h1>Policy</h1>
<br>
<section class="view">
    <div style="padding-bottom:20px">{{message}}</div>

    <form name="theForm" ng-submit="PolicyCtrl.save(PolicyCtrl.policy)">
        <a href="/#/policies">&lsaquo; Back to list</a>

        <div class="form-group" style="padding-top:20px" ng-class="{'has-error': theForm.name.$error.required}">
            <label for="name" class="control-label"> Name: </label>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="name" ng-model="PolicyCtrl.policy.name" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.name.$error.required"> Required. </span>
                    <span ng-show="theForm.name.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
                </span>
            </div>
        </div>

        <div class="form-group" style="padding-top:20px">
            <label for="org" class="control-label"> Applications: </label>
            <div ng-repeat="application in PolicyCtrl.policy.applications">
                <span class="glyphicon glyphicon-remove" ng-click="PolicyCtrl.removeApplication($index)"></span><strong> {{application.title}} </strong>
            </div>
            <div>
                <select ng-model="PolicyCtrl.application" name="application" ng-options="application.title for application in PolicyCtrl.applications | orderBy:'title'">
                    <option value="">-- Choose application --</option>
                </select>
                <span ng-click="PolicyCtrl.addapplication(PolicyCtrl.application)">Add</span>
            </div>
        </div>

        <div class="form-group">
            <label for="permissions" class="control-label"> Permissions: </label>
            <span class="help-block">
                <span ng-show="PolicyCtrl.permissionsError"> JSON Error. </span>
            </span>
            <div ng-model="PolicyCtrl.permissions" ui-ace="{
                mode: 'json',
                onLoad: PolicyCtrl.aceLoaded,
                onChange: PolicyCtrl.aceChanged
            }"></div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.status.$error.required}">
            <label for="status" class="control-label"> Status: </label>
            <div>
                <input type="radio" name="status" ng-model="PolicyCtrl.policy.status" value="active" required>
                <label for="new_org_status"> Active</label>
                <br>
                <input type="radio" name="status" ng-model="PolicyCtrl.policy.status" value="inactive" required>
                <label for="new_org_status"> Inactive</label>
                <br>
                <input type="radio" name="status" ng-model="PolicyCtrl.policy.status" value="pending" required>
                <label for="new_org_status"> Pending</label>
                <br>
                <span class="help-block">
                    <span ng-show="theForm.status.$error.required"> Required. </span>
                </span>
            </div>
        </div>
        <div style="padding:20px 0 40px 0;">
            <input type="submit" value="Save" ng-disabled="!theForm.$valid">
            <input c6-href="/policies" type="button" value="Cancel">
            <input type="button" value="Delete" ng-show="PolicyCtrl.policy.id" ng-click="PolicyCtrl.delete()">
            <span ng-show="!theForm.$valid" class="text-danger"> There are errors above. See highlighted fields. </span>
        </div>
    </form>

    <div class="mask" ng-show="PolicyCtrl.loading"></div>

</section>