<nav class="pager__group clearfix">
    <button class="btn ui__clickDrop" type="button" title="Items on Page : {{limit}}" ng-click="Ctrl.showDropDown = !Ctrl.showDropDown" c6-click-outside="Ctrl.showDropDown = false">
        <span class="btn__label glyphicon glyphicon-chevron-down"></span>
        <span class="btn__label">{{limit}} items per page</span>
    </button>
    <div ng-show="Ctrl.showDropDown" class="pager__itemsPerPage ui__clickDropMenu">
        <button ng-repeat="num in limits" class="ui__clickDropBtn" ng-class="{'ui__clickDropBtn--current': (num === limit)}" type="button" title="{{num}}" ng-click="Ctrl.setLimit(num)">{{num}} per page</button>
    </div>

    <div class="btnGroup btnGroup--show clearfix">
        <button class="btn" type="button" title="Publish" ng-click="Ctrl.goTo(page - 1)" ng-disabled="page < 2">
            <span class="btn__label glyphicon glyphicon-chevron-left">
                <span class="ir">Previous</span>
            </span>
        </button>
        <form class="btn pager__pageIndicator" type="button" title="Make Private" ng-submit="Ctrl.goTo(Ctrl.page)">
            <input type="text" ng-model="Ctrl.page" class="forms__textField" c6-autoselect ng-blur="Ctrl.page = page">
            <span class="btn__label">of {{total}}</span>
        </form>
        <button class="btn" type="button" title="Copy" ng-click="Ctrl.goTo(page + 1)" ng-disabled="page >= total">
            <span class="btn__label glyphicon glyphicon-chevron-right">
                <span class="ir">Next</span>
            </span>
        </button>
    </div>
</nav>
