<nav class="pager__group clearfix">
    <c6-dropdown options="Ctrl.limitsObject" value="limit">{{value}}</c6-dropdown>
    <div class="btnGroup btnGroup--show clearfix">
        <button class="btn" type="button" title="Publish" ng-click="Ctrl.goTo(page - 1)" ng-disabled="page < 2">
            <span class="btn__label glyphicon glyphicon-chevron-left">
                <span class="ir">Previous</span>
            </span>
        </button>
        <form class="btn pager__pageIndicator" type="button" title="Make Private" ng-submit="Ctrl.goTo(Ctrl.page)">
            <input type="text" ng-model="Ctrl.page" class="forms__textField" c6-autoselect ng-blur="Ctrl.page = page">
            <span class="btn__label">of {{total}}</span>
        </form>
        <button class="btn" type="button" title="Copy" ng-click="Ctrl.goTo(page + 1)" ng-disabled="page >= total">
            <span class="btn__label glyphicon glyphicon-chevron-right">
                <span class="ir">Next</span>
            </span>
        </button>
    </div>
</nav>