<form name="theForm" id="copy_experience" ng-submit="MinireelsCtrl.saveCopy()">
    <div class="form-group" style="padding-top:20px">
        <label for="org" class="control-label"> <h3>Choose an Org to view Minireels: </h3></label>
        <div>
            <select ng-model="data.org" name="org" ng-options="org.name for org in data.orgs | orderBy:'name'" required>
                <option value="">-- choose org --</option>
            </select>
            <input type="button" value="Go" ng-click="MinireelsCtrl.getExperiences(data.org)" ng-disabled="!theForm.$valid">
        </div>
    </div>
</form>

<input style="width:250px;margin-top:20px;" type="text" ng-model="data.query" ng-change="MinireelsCtrl.filterExperiences()" placeholder="Search Minireels by Title">

<table class="table table-striped table-hover table-bordered" style="margin-top:20px">
    <tbody>
        <tr>
            <th ng-repeat="th in experienceTableHeaders" ng-click="doSort(th.value)" style="cursor:pointer;">
                {{th.label}} <span style="padding-left:5px;opacity:0.5;float:right;" ng-style="{visibility: sort.column === th.value ? 'visible' : 'hidden'}" ng-class="{'glyphicon-chevron-up': !sort.descending, 'glyphicon-chevron-down': sort.descending }" class="glyphicon "></span></th>
        </tr>
        <tr ng-repeat="experience in data.experiences | orderBy:sort.column:sort.descending">
            <td>{{experience.title}}</td>
            <td>{{experience.data.mode}}</td>
            <td>{{experience.user.email}}</td>
            <td>{{experience.branding}}</td>
            <td>{{experience.data.deck.length}}</td>
            <td>{{experience.status}}</td>
            <td>{{experience.lastUpdated | date}}</td>
            <td><a href="" ng-click="MinireelsCtrl.startExperienceCopy(experience)">Copy</a></td>
        </tr>
    </tbody>
</table>