<form name="theForm" ng-submit="OrgsCtrl.saveOrg()">
    <a href="" ng-click="OrgsCtrl.action = 'all'">&lsaquo; Back to list</a>
    <div class="form-group" style="padding-top:20px">
        <label for="new_org_name" class="control-label"> Name: </label>
        <div>
            <input type="text" name="name" ng-model="data.org.name" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" required>
            <span style="color:red">
                <span ng-show="theForm.name.$error.required"> Required. </span>
                <span ng-show="theForm.name.$error.minlength"> Too short. </span>
                <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="branding" class="control-label"> Branding: </label>
        <div>
            <input type="text" name="branding" ng-model="data.org.branding" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^[\w]*[a-zA-Z]+[\w]*$/" required>
            <span style="color:red">
                <span ng-show="theForm.branding.$error.required"> Required. </span>
                <span ng-show="theForm.branding.$error.minlength"> Too short. </span>
                <span ng-show="theForm.branding.$error.maxlength"> Too long. </span>
                <span ng-show="theForm.branding.$error.pattern"> Invalid characters. </span>
            </span>
        </div>
    </div>
    <a href="" ng-click="showOptions = !showOptions">{{optionsMessage}}</a>
    <div ng-show="showOptions">
        <div>
            <div style="padding-bottom:20px;" ng-repeat="setting in data.appData.waterfallData.settings">
                <h3>{{setting.title}}<br>
                <small>({{setting.description}})</small></h3>
                <div ng-if="setting.category === 'video'" ng-repeat="choice in data.org._data.videoWaterfalls">
                    <span ng-if="setting.type === 'options'">
                        <input type="checkbox" name="video_waterfalls_{{choice.value}}" ng-model="choice.enabled" ng-required="!OrgsCtrl.formIsValid()">
                        <label for="video_waterfalls_{{choice.value}}"> {{choice.name}} </label>
                    </span>
                    <span ng-if="setting.type === 'default'">
                        <input type="radio" name="videoWaterfallDefault" ng-model="data.org.adConfig.video.waterfall" value="{{choice.value}}">
                        <label for="videoWaterfallDefault">{{choice.name}}</label>
                    </span>
                </div>
                <div style="padding-top:20px;" ng-if="setting.category === 'video' && setting.type === 'default'">
                    <h3>Dynamic Video Ad Settings</h3>
                    <div ng-repeat="adOption in data.appData.adConfig.types">
                        <label for="{{adOption.label}}">{{adOption.title}}</label>
                        <select ng-model="data.org._data.adConfig[adOption.label]" ng-options="option.label for option in adOption.options"></select>
                    </div>
                </div>
                <div ng-if="setting.category === 'display'" ng-repeat="choice in data.org._data.displayWaterfalls">
                    <span ng-if="setting.type === 'options'">
                        <input type="checkbox" name="display_waterfalls_{{choice.value}}" ng-model="choice.enabled" ng-required="!OrgsCtrl.formIsValid()">
                        <label for="display_waterfalls_{{choice.value}}"> {{choice.name}} </label>
                    </span>
                    <span ng-if="setting.type === 'default'">
                        <input type="radio" name="displayWaterfallDefault" ng-model="data.org.adConfig.display.waterfall" value="{{choice.value}}">
                        <label for="displayWaterfallDefault">{{choice.name}}</label>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <h3>Embed Type</h3>
            <div ng-repeat="choice in data.org._data.config.minireelinator.embedTypes">
                <input type="checkbox" name="embed_type_{{choice.value}}" ng-model="choice.enabled" ng-required="!OrgsCtrl.formIsValid()">
                <label for="new_org_status">{{choice.title}}</label>
            </div>
        </div>
        <div>
            <h3>Embed Size</h3>
            <div>
                <label for="new_org_status">Width (in pixels or percentage, ex: 400px or 100%)</label><br>
                <input type="text" name="embed_size_width" ng-model="data.org.config.minireelinator.embedDefaults.size.width" ng-pattern="embedSizePattern"><br>
                <label for="new_org_status">Height (in pixels or percentage, ex: 400px or 100%)</label><br>
                <input type="text" name="embed_size_height" ng-model="data.org.config.minireelinator.embedDefaults.size.height" ng-pattern="embedSizePattern">
            </div>
        </div>
        <div>
            <h3>Status:</h3>
            <input type="radio" id="new_org_status" name="status" ng-model="data.org.status" value="active" required>
            <label for="new_org_status"> Active</label>
            <br>
            <input type="radio" id="new_org_status" name="status" ng-model="data.org.status" value="inactive" required>
            <label for="new_org_status"> Inactive</label>
            <br>
            <input type="radio" id="new_org_status" name="status" ng-model="data.org.status" value="pending" required>
            <label for="new_org_status"> Pending</label>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
        </div>
        <div class="form-group">
            <div ng-repeat="setting in data.appData.defaultSplashOptions">
                <h3>{{setting.title}}</h3>
                <div ng-repeat="option in setting.options">
                    <input type="radio" name="{{setting.label}}" ng-model="data.org.config.minireelinator.minireelDefaults.splash[setting.label]" value="{{option}}" required>
                    <label for="{{setting.label}}">{{option}}</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <h3>Default Autoplay</h3>
            <input name="autoplay" type="checkbox" ng-model="data.org.config.minireelinator.minireelDefaults.autoplay">
            <label for="autoplay">Enabled</label>
        </div>
        <div class="form-group">
            <h3>Default Mode</h3>
            <div ng-repeat="setting in OrgsCtrl.defaultModes">
                <input type="radio" name="defaultMode" ng-model="data.org.config.minireelinator.minireelDefaults.mode" value="{{setting.value}}" required>
                <label for="defaultMode">{{setting.label}}</label>
            </div>
        </div>
        <br>
        <div style="padding-bottom:40px;">
            <input type="submit" value="Save" ng-disabled="!theForm.$valid">
            <input type="button" value="Delete" ng-show="data.org.id" ng-click="confirmDelete = true">
            <div style="display:inline;padding-left:30px;" ng-show="confirmDelete === true">
                <span>Are you sure?</span>
                <input type="button" value="Yes" ng-click="OrgsCtrl.deleteOrg()">
                <input type="button" value="Cancel" ng-click="confirmDelete = false">
            </div>
        </div>
    </div>
    <div>
        <span>{{lastStatus}}</span>
    </div>
</form>

<table ng-show="!showOptions" ng-if="data.users" class="table table-striped table-hover table-bordered" style="margin-top:20px">
    <tbody>
        <tr>
            <th>Users</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="user in data.users">
            <td>{{user.email}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.status}}</td>
        </tr>
    </tbody>
</table>