<h1>Sites</h1>
<br>
<section class="view">
    <div style="padding-bottom:20px">{{message}}</div>

    <form name="theForm" ng-submit="SiteCtrl.saveSite(SiteCtrl.site)">
        <a href="/#/sites">&lsaquo; Back to list</a>

        <div class="form-group" style="padding-top:20px" ng-class="{'has-error': theForm.name.$error.required}">
            <label for="name" class="control-label"> Name: </label>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="name" ng-model="SiteCtrl.site.name" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.name.$error.required"> Required. </span>
                    <span ng-show="theForm.name.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.host.$invalid}">
            <label for="host" class="control-label"> Domain:</label>
            <p style="font-size:80%;color:#888"><em>(without "http://" or "www", ex: mydomain.com)</em></p>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="host" ng-model="SiteCtrl.site.host" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^([\w-]+\.)+[\w-]+$/" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.host.$error.required"> Required. </span>
                    <span ng-show="theForm.host.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.host.$error.maxlength"> Too long. </span>
                    <span ng-show="theForm.host.$error.pattern"> Invalid domain. </span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.branding.$error.required}">
            <label for="branding" class="control-label"> Branding: </label>
            <div>
                <input class="col-md-3" ng-focus="SiteCtrl.disableBrandBinding()" class="form-control" type="text" name="branding" ng-model="SiteCtrl.site.branding" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^[\w]*[a-zA-Z]+[\w]*$/" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.branding.$error.required"> Required. </span>
                    <span ng-show="theForm.branding.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.branding.$error.maxlength"> Too long. </span>
                    <span ng-show="theForm.branding.$error.pattern"> Invalid characters. </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="org" class="control-label"> Org: </label>
            <div>
                <select ng-model="SiteCtrl.org" name="org" ng-options="org.name for org in SiteCtrl.orgs | orderBy:'name'">
                    <option value="">-- No Org --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="placementId" class="control-label"> AdTech Placement ID: </label>
            <div class="clearfix">
                <input class="col-md-3" class="form-control" type="text" name="placementId" ng-model="SiteCtrl.site.placementId" autocomplete="off" ng-minlength="3" ng-maxlength="128"  ignore-spaces>
            </div>
        </div>

        <div class="form-group">
            <label for="wildCardPlacementId" class="control-label"> Wild Card Placement ID: </label>
            <div class="clearfix">
                <input class="col-md-3" class="form-control" type="text" name="wildCardPlacementId" ng-model="SiteCtrl.site.wildCardPlacement" autocomplete="off" ng-minlength="3" ng-maxlength="128"  ignore-spaces>
            </div>
        </div>

        <div class="form-group">
            <div ng-show="SiteCtrl.site.containers.length">
                <label for="containers" class="control-label"> Containers: </label>
                <table class="table table-condensed table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th ng-repeat="th in containerTableHeaders" ng-click="doSort(th.value)" style="cursor:pointer;">
                                {{th.label}} <span style="padding-left:5px;opacity:0.5;float:right;" ng-style="{visibility: sort.column === th.value ? 'visible' : 'hidden'}" ng-class="{'glyphicon-chevron-up': !sort.descending, 'glyphicon-chevron-down': sort.descending }" class="glyphicon "></span></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="container in SiteCtrl.site.containers | orderBy:sort.column:sort.descending">
                            <td>{{container.id}}</td>
                            <td>{{container.name}}</td>
                            <td>{{container.displayPlacementId}} <span ng-show="!container.displayPlacementId"><small><em>Assigned when saved</em></small></span></td>
                            <td>{{container.contentPlacementId}} <span ng-show="!container.displayPlacementId"><small><em>Assigned when saved</em></small></span></td>
                            <td><span class="glyphicon glyphicon-remove" ng-click="SiteCtrl.site.containers.splice($index,1)"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="clearfix">
                <label for="containers" class="control-label"> Add a container: </label>
                <select name="containers" ng-model="SiteCtrl.container" ng-options="container.name for container in SiteCtrl.containerTypes | orderBy:'name'">
                    <option value=""> Choose a type </option>
                </select>

                <div ng-if="SiteCtrl.container">
                    <div style="line-height:1.8em;padding-top:5px;">
                        <div ng-if="SiteCtrl.duplicateContainerId">
                            <span class="text-danger"><strong>ERROR</strong></span>: A container with the ID of <strong>{{SiteCtrl.newContainerId}}</strong> already exists.
                        </div>
                        <div ng-if="SiteCtrl.duplicateContainerType">
                            <span class="text-warning"><strong>NOTE</strong></span>: A<span ng-show="SiteCtrl.container.name.charAt(0).match(SiteCtrl.vowelRegex).length">n</span> <strong>{{SiteCtrl.container.name}}</strong> container already exists. Multiple containers of the same type are allowed as long as the ID is different.
                        </div>
                        <div>
                            <div ng-show="SiteCtrl.newContainerId">A new container <span ng-show="!SiteCtrl.duplicateContainerId">will</span> <span ng-show="SiteCtrl.duplicateContainerId"><strong>cannot</strong></span> be created with this ID: <strong>{{SiteCtrl.newContainerId}}</strong></div>
                            <div ng-show="!customize" ng-hide="!SiteCtrl.container.type">If necessary you can <a ng-click="customize = true" href="">customize the ID</a>.</div>
                        </div>
                    </div>
                    <div ng-show="customize || !SiteCtrl.container.type" style="padding-top:5px;">
                        <span ng-show="!SiteCtrl.container.type">Set the ID:</span>
                        <input type="text" ng-model="SiteCtrl.container.customization" autocomplete="off" ng-minlength="1" ng-maxlength="128" ignore-spaces>
                        <a ng-show="customize" ng-click="customize = false; SiteCtrl.container.customization = null;" href="">Cancel</a>
                    </div>
                    <input type="button" ng-click="SiteCtrl.addContainerItem()" ng-disabled="!SiteCtrl.newContainerId || SiteCtrl.duplicateContainerId" value="Add" style="margin-top:10px;">
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.status.$error.required}">
            <label for="status" class="control-label"> Status: </label>
            <div>
                <input type="radio" name="status" ng-model="SiteCtrl.site.status" value="active" required>
                <label for="new_org_status"> Active</label>
                <br>
                <input type="radio" name="status" ng-model="SiteCtrl.site.status" value="inactive" required>
                <label for="new_org_status"> Inactive</label>
                <br>
                <input type="radio" name="status" ng-model="SiteCtrl.site.status" value="pending" required>
                <label for="new_org_status"> Pending</label>
                <br>
                <span class="help-block">
                    <span ng-show="theForm.status.$error.required"> Required. </span>
                </span>
            </div>
        </div>

        <div style="padding:20px 0 40px 0;">
            <input type="submit" value="Save" ng-disabled="!theForm.$valid">
            <input type="button" value="Delete" ng-show="SiteCtrl.site.id" ng-click="SiteCtrl.confirmDelete()">
            <span ng-show="!theForm.$valid" class="text-danger"> There are errors above. See highlighted fields. </span>
        </div>
    </form>

    <div class="mask" ng-show="SiteCtrl.loading"></div>

</section>