<form name="theForm" ng-submit="UsersCtrl.saveUser()">
    <a href="" ng-click="UsersCtrl.backToList()">&lsaquo; Back to list</a>
    <br>
    <br>
    <div ng-if="data.user.id" style="padding-bottom:20px;">
        <b>Username:<br>{{data.user.email}}</b>
    </div>

    <div class="form-group" ng-class="{'has-error': theForm.firstName.$error.required}">
        <label for="firstName" class="control-label"> First Name: </label>
        <div>
            <input type="text" class="col-md-3" class="form-control" name="firstName" ng-model="data.user.firstName" autocomplete="off" ng-trim="true" ng-minlength="2" ng-maxlength="128" required ignore-spaces>
            <span class="help-block">
                <span ng-show="theForm.firstName.$error.required"> Required. </span>
                <span ng-show="theForm.firstName.$error.minlength"> Too short. </span>
                <span ng-show="theForm.firstName.$error.maxlength"> Too long. </span>
            </span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': theForm.lastName.$error.required}">
        <label for="lastName" class="control-label"> Last Name: </label>
        <div>
            <input type="text" class="col-md-3" class="form-control" name="lastName" ng-model="data.user.lastName" autocomplete="off" ng-trim="true" ng-minlength="2" ng-maxlength="128" required ignore-spaces>
            <span class="help-block">
                <span ng-show="theForm.lastName.$error.required"> Required. </span>
                <span ng-show="theForm.lastName.$error.minlength"> Too short. </span>
                <span ng-show="theForm.lastName.$error.maxlength"> Too long. </span>
            </span>
        </div>
    </div>
    <div ng-if="!data.user.id">
        <div class="form-group" ng-class="{'has-error': theForm.email.$error.required || theForm.email.$error.pattern}">
            <label for="email" class="control-label"> Email: </label>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="email" ng-model="data.user.email" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^\w+.*\.\w\w\w?$/" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.email.$error.required"> Required. </span>
                    <span ng-show="theForm.email.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.email.$error.maxlength"> Too long. </span>
                    <span ng-show="theForm.email.$error.pattern"> Not a valid email. </span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': theForm.password.$error.required}">
            <label for="password" class="control-label"> Password: </label>
            <div class="clearfix">
                <input class="col-md-3" class="form-control" type="password" name="password" ng-model="data.user.password" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-show="!showPassword" required>
                <input class="col-md-3" class="form-control" type="text" name="password" ng-model="data.user.password" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-show="showPassword" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.password.$error.required"> Required. </span>
                    <span ng-show="theForm.password.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.password.$error.maxlength"> Too long. </span>
                </span>
                <br>
            </div>
                <a href="" ng-click="showPassword = !showPassword"> {{passwordMessage}} </a>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': theForm.org.$error.required}">
        <label for="org" class="control-label"> Org: </label>
        <div>
            <select ng-model="data.org" name="org" ng-options="org.name for org in data.orgs | orderBy:'name'" required>
                <option value="">-- choose org --</option>
            </select>
            <span class="help-block">
                <span ng-show="theForm.org.$error.required"> Required. </span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="checkbox" name="system_admin" ng-model="UsersCtrl.isAdmin">
            <label for="system_admin" class="control-label"> System Admin </label>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="checkbox" name="can_edit_org_ad_settings" ng-model="UsersCtrl.editAdConfigOptions[0].enabled">
            <label for="can_edit_org_ad_settings" class="control-label"> Can manage Organization's Ad default settings </label>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="checkbox" name="can_edit_experience_ad_settings" ng-model="UsersCtrl.editAdConfigOptions[1].enabled">
            <label for="can_edit_experience_ad_settings" class="control-label"> Can manage MiniReel Ad settings </label>
        </div>
    </div>


    <div ng-if="data.org">
        <div class="form-group" ng-class="{'has-error': theForm.branding.$error.required}">
            <label for="branding" class="control-label"> Branding: </label>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="branding" ng-model="data.user.branding" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^[\w]*[a-zA-Z]+[\w]*$/" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.branding.$error.required"> Required. </span>
                    <span ng-show="theForm.branding.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.branding.$error.maxlength"> Too long. </span>
                    <span ng-show="theForm.branding.$error.pattern"> Invalid characters. </span>
                </span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': theForm.user_type.$error.required}">
            <label for="user_type" class="control-label"> Type: </label>
            <div ng-repeat="setting in UsersCtrl.userTypes">
                <input type="radio" name="user_type" ng-model="data.user.type" value="{{setting.value}}" required>
                <span>{{setting.label}}</span>
            </div>
        </div>
        <div class="form-group">
            <div ng-repeat="setting in data.appData.defaultSplashOptions">
                <label for="{{setting.label}}">{{setting.title}}</label>
                <div ng-repeat="option in setting.options">
                    <input type="radio" name="{{setting.label}}" ng-model="data.user.config.minireelinator.minireelDefaults.splash[setting.label]" value="{{option}}" required>
                    <span>{{option}}</span>
                </div>
            </div>
        </div>
        <div style="padding-bottom:40px;">
            <input type="submit" value="Save" ng-disabled="!theForm.$valid">
            <input type="button" value="Delete" ng-show="data.user.id" ng-click="UsersCtrl.confirmDelete()">
            <span ng-show="!theForm.$valid" class="text-danger"> There are errors above. See highlighted fields. </span>
        </div>
    </div>
    <!-- Below are pieces that will be enabled later -->
    <div ng-if="UsersCtrl.showUserSettings">
        <div ng-repeat="permission in UsersCtrl.userPermissionOptions">
            {{permission.name}} Permissions:
            <div ng-repeat="action in permission.actions">
                {{action.name}}:
                <span ng-repeat="option in action.options">
                    <input type="radio" id="new_user_{{permission.name}}_{{action.name}}_{{option}}" name="new_user_{{permission.name}}_{{action.name}}" value="{{option}}" required>
                    <label for="new_user_{{permission.name}}_{{action.name}}_{{option}}"> {{option}}</label>
                </span>
            </div>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
            <br>
        </div>
        <br>
        <div>
            Status:
            <label for="new_user_status"> Active</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="active" required>
            <label for="new_user_status"> Inactive</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="inactive" required>
            <label for="new_user_status"> Pending:</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="pending" required>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
        </div>
    </div>
</form>
