<!-- <a href="#/users/new">Add New User</a> -->
<a href="" ng-click="UsersCtrl.action = 'new'">Add New User</a>
<br>
<br>
<!-- <select ng-model="data.org" ng-options="org.name for org in data.orgs">
    <option value="">-- choose org --</option>
</select> -->
<input type="text" ng-model="data.query" ng-change="UsersCtrl.filterData()">
<div ng-repeat="user in data.users" style="padding-top:20px">
    <div>
        Name: <span>{{user.email}}</span>
    </div>
    <div>
        ID: <span>{{user.id}}</span>
    </div>
    <div>
        STATUS: <span>{{user.status}}</span>
    </div>
    <div>
        <!-- <a href="#/users/edit/{{user.id}}">Edit</a> -->
        <a href="" ng-click="UsersCtrl.editUser(user)">Edit</a>
    </div>
</div>