<button ng-click="UsersCtrl.addNewUser()">Add New User</button>
<!-- <select ng-model="data.org" ng-options="org.name for org in data.orgs">
    <option value="">-- choose org --</option>
</select> -->
<input style="float:right;width:250px;" type="text" ng-model="data.query" ng-change="UsersCtrl.filterData()" placeholder="Search Users by Email, Name or Org">

<table class="table table-striped table-hover table-bordered" style="margin-top:20px">
    <tbody>
        <tr>
            <th ng-repeat="th in tableHeaders" ng-click="doSort(th.value)">
                {{th.label}} <span style="padding-left:5px;opacity:0.5;float:right;" ng-style="{visibility: sort.column === th.value ? 'visible' : 'hidden'}" ng-class="{'glyphicon-chevron-up': !sort.descending, 'glyphicon-chevron-down': sort.descending }" class="glyphicon "></span></th>
        </tr>
        <tr ng-repeat="user in data.users | orderBy:sort.column:sort.descending">
            <td><a href="" ng-click="UsersCtrl.editUser(user)">{{user.email}}</a></td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.org.name}}</td>
            <td>{{user.status}}</td>
        </tr>
    </tbody>
</table>