<form name="theForm" id="change_password" ng-submit="submit()">
    <h2>Change your Password </h2>
    <div class="form-group" style="padding-top:20px">
        <label for="change_password0" class="control-label">Current Password:</label>
        <div>
            <input id="change_password0" type="password" name="password0" ng-model="password[0]" autocomplete="off" required ng-minlength="1" ng-maxlength="128" ng-trim="false">
            <span ng-show="theForm.password0.$error.required"> Required </span>
            <span ng-show="theForm.password0.$error.minlength"> Too short </span>
            <span ng-show="theForm.password0.$error.maxlength"> Too long </span>
        </div>
    </div>
    <div class="form-group">
        <label for="change_password1" class="control-label">New Password:</label>
        <div>
            <input id="change_password1" type="password" name="password1" ng-model="password[1]" autocomplete="off" required ng-minlength="8" ng-maxlength="128" ng-pattern="passwordPattern" ng-trim="false">
            <span ng-show="theForm.password1.$error.required"> Required </span>
            <span ng-show="theForm.password1.$error.minlength"> Must be at least 8 numbers or letters </span>
            <span ng-show="theForm.password1.$error.maxlength"> Too long </span>
            <span ng-show="theForm.password1.$error.pattern"> Spaces not allowed</span>
            <span ng-show="password[1].length && (password[0] === password[1])"> Can not be the same as your Current Password </span>
        </div>
    </div>

    <div class="form-group">
        <label for="change_password2" class="control-label">Confirm Password:</label>
        <div>
            <input id="change_password2" type="password" name="password2" ng-model="password[2]" autocomplete="off" ng-required="theForm.password1.$error.required" ng-trim="false">
            <span ng-show="theForm.password2.$error.required"> Required </span>
            <span ng-show="(password[2].length) && (password[1] !== password[2])"> Do not match </span>
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Change Password" ng-disabled="((!theForm.$valid) || (password[0] === password[1]) || (password[1] !== password[2]))">
        </div>
    </div>
    <div>
        <span>{{lastStatus}}</span>
    </div>
</form>
