<form name="theForm" id="new_user" ng-submit="UsersCtrl.saveUser()">
    <!-- <h1>{{ UsersCtrl.action | titlecase }} {{ UsersCtrl.email }} </h1> -->
    <a href="" ng-click="UsersCtrl.action = 'all'">&lsaquo; Back to list</a>
    <div class="form-group" style="padding-top:20px">
        <div ng-if="data.user.id" style="padding-bottom:20px;"><b>Username:<br>{{data.user.email}}</b></div>
        <label for="firstName" class="control-label"> First Name: </label>
        <div>
            <input id="firstName" type="text" name="firstName" ng-model="data.user.firstName" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
            <span ng-show="theForm.firstName.$error.required"> Required. </span>
            <span ng-show="theForm.firstName.$error.minlength"> Too short. </span>
            <span ng-show="theForm.firstName.$error.maxlength"> Too long. </span>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="control-label"> Last Name: </label>
        <div>
            <input id="lastName" type="text" name="lastName" ng-model="data.user.lastName" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
            <span ng-show="theForm.lastName.$error.required"> Required. </span>
            <span ng-show="theForm.lastName.$error.minlength"> Too short. </span>
            <span ng-show="theForm.lastName.$error.maxlength"> Too long. </span>
        </div>
    </div>
    <div ng-if="!data.user.id">
        <div class="form-group">
            <label for="email" class="control-label"> Email: </label>
            <div>
                <input id="email" type="text" name="email" ng-model="data.user.email" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
                <span ng-show="theForm.email.$error.required"> Required. </span>
                <span ng-show="theForm.email.$error.minlength"> Too short. </span>
                <span ng-show="theForm.email.$error.maxlength"> Too long. </span>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label"> Password: </label>
            <div>
                <input id="email" type="password" name="email" ng-model="data.user.password" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
                <span ng-show="theForm.email.$error.required"> Required. </span>
                <span ng-show="theForm.email.$error.minlength"> Too short. </span>
                <span ng-show="theForm.email.$error.maxlength"> Too long. </span>
            </div>
        </div>
        <div class="form-group">
            <label for="org" class="control-label"> Org: </label>
            <div>
                <select ng-model="data.org" name="org" ng-options="org.name for org in data.orgs" required>
                    <option value="">-- choose org --</option>
                </select>
                <span ng-show="theForm.org.$error.required"> Required. </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="branding" class="control-label"> Branding: </label>
        <div>
            <input id="branding" type="text" name="branding" ng-model="data.user.branding" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
            <span ng-show="theForm.email.$error.required"> Required. </span>
            <span ng-show="theForm.email.$error.minlength"> Too short. </span>
            <span ng-show="theForm.email.$error.maxlength"> Too long. </span>
        </div>
    </div>
    <div class="form-group">
        <div ng-repeat="setting in data.appData.defaultSplashOptions">
            <label for="{{setting.label}}">{{setting.title}}</label>
            <div ng-repeat="option in setting.options">
                <input type="radio" name="{{setting.label}}" ng-model="data.user.config.defaultSplash[setting.label]" value="{{option}}" required>
                <span>{{option}}</span>
            </div>
        </div>
    </div>
    <!-- Below are pieces that will be enabled later -->
    <div ng-if="UsersCtrl.showUserSettings">
        <div ng-repeat="permission in UsersCtrl.userPermissionOptions">
            {{permission.name}} Permissions:
            <div ng-repeat="action in permission.actions">
                {{action.name}}:
                <span ng-repeat="option in action.options">
                    <input type="radio" id="new_user_{{permission.name}}_{{action.name}}_{{option}}" name="new_user_{{permission.name}}_{{action.name}}" value="{{option}}" required>
                    <label for="new_user_{{permission.name}}_{{action.name}}_{{option}}"> {{option}}</label>
                </span>
            </div>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
            <br>
        </div>
        <br>
        <div>
            Status:
            <label for="new_user_status"> Active</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="active" required>
            <label for="new_user_status"> Inactive</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="inactive" required>
            <label for="new_user_status"> Pending:</label>
            <input type="radio" id="new_user_status" name="status" ng-model="UsersCtrl.status" value="pending" required>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
        </div>
    </div>
    <input type="submit" value="Save" ng-disabled="!theForm.$valid">
    <input type="button" value="Delete" ng-show="data.user.id" ng-click="confirmDelete = true">
    <div style="display:inline;padding-left:30px;" ng-show="confirmDelete === true">
        <span>Are you sure?</span>
        <input type="button" value="Yes" ng-click="UsersCtrl.deleteUser()">
        <input type="button" value="Cancel" ng-click="confirmDelete = false">
    </div>
</form>
