<form name="theForm" id="new_org" ng-submit="OrgsCtrl.saveOrg()">
    <!-- <h1>{{OrgsCtrl.action |  titlecase}} {{OrgsCtrl.name}} </h1> -->
    <a href="" ng-click="OrgsCtrl.action = 'all'">&lsaquo; Back to list</a>
    <div class="form-group" style="padding-top:20px">
        <label for="new_org_name" class="control-label"> Name: </label>
        <div>
            <input id="new_org_name" type="text" name="name" ng-model="data.org.name" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
            <span ng-show="theForm.name.$error.required"> Required. </span>
            <span ng-show="theForm.name.$error.minlength"> Too short. </span>
            <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
        </div>
    </div>
    <br>
    <div ng-if="OrgsCtrl.showWaterfallSettings">
        <div>
            Video Waterfall:
            <div ng-repeat="choice in OrgsCtrl.videoWaterfalls">
                <input type="checkbox" id="video_waterfalls_{{choice.value}}" name="video_waterfalls_{{choice.value}}" ng-model="choice.checked">
                <label for="video_waterfalls_{{choice.value}}"> {{choice.value}} </label>
            </div>
            <br>
            Display Waterfall:
            <div ng-repeat="choice in OrgsCtrl.displayWaterfalls">
                <input type="checkbox" id ="display_waterfalls_{{choice.value}}" name="display_waterfalls_{{choice.value}}" ng-model="choice.checked">
                <label for="display_waterfalls_{{choice.value}}"> {{choice.value}} </label>
            </div>
        </div>
        <br>
        <div>
            Status:
            <label for="new_org_status"> Active</label>
            <input type="radio" id="new_org_status" name="status" ng-model="OrgsCtrl.status" value="active" required>
            <label for="new_org_status"> Inactive</label>
            <input type="radio" id="new_org_status" name="status" ng-model="OrgsCtrl.status" value="inactive" required>
            <label for="new_org_status"> Pending:</label>
            <input type="radio" id="new_org_status" name="status" ng-model="OrgsCtrl.status" value="pending" required>
            <div>
                <span ng-show="theForm.status.$error.required"> Required. </span>
            </div>
        </div>
    </div>
    <input type="submit" value="Save" ng-disabled="!theForm.$valid">
    <div>
        <span>{{lastStatus}}</span>
    </div>
</form>

<table class="table table-striped table-hover table-bordered" style="margin-top:20px">
    <tbody>
        <tr>
            <th>Users</th>
            <th>ID</th>
            <th>Org</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="user in data.users">
            <td>{{user.email}}</td>
            <td>{{user.id}}</td>
            <td>{{user.org.name}}</td>
            <td>{{user.status}}</td>
        </tr>
    </tbody>
</table>