<div class="login__group" ng-hide="user">
    <h2 class="login__title">Please log in to continue.</h2>
    <form class="login__form" ng-submit="login()">
        <div class="c6__brand c6__brand--dark sprite--alpha">
                                <span class="ir">Cinema6</span>
                            </div>
        <div class="login__nvPair">
            <label class="login__label" for="login__Email" > Email </label>
            <input id="login__Email" class="login__input" type="text" name="email" ng-model="email" autofocus autocomplete="off">
        </div>

        <div class="login__nvPair">
            <label class="login__label" for="login__password" > Password </label>
            <input id="login__password" class="login__input" type="password" name="password" ng-model="password" autocomplete="off">
        </div>

        <p class="login__error" >{{loginError}}</p>
        <input class="form__submitBtn login__submitBtn" type="submit" value="Login">
    <form>
</div>