<div ng-hide="AppCtrl.user">
    <h2>Please log in to continue.</h2>
    <form ng-submit="LoginCtrl.login()">
        <div>
            <span class="ir">Cinema6</span>
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email" ng-model="LoginCtrl.email" autofocus autocomplete="off">
        </div>
        <div>
            <label> Password </label>
            <input type="password" name="password" ng-model="LoginCtrl.password" autocomplete="off">
        </div>
        <p>{{LoginCtrl.loginError}}</p>
        <input type="submit" value="Login">
    <form>
</div>