<form name="theForm" id="new_org" ng-submit="NewOrgCtrl.submit()">
    <h1>Create New Organization </h1>
    <a href="#/orgs">&lsaquo; Back to list</a>
    <div>
        <label for="new_org_name"> Name: </label>
        <input id="new_org_name" type="text" name="name" ng-model="NewOrgCtrl.name" autocomplete="off" ng-trim="false" ng-minlength="3" ng-maxlength="128" required>
        <div>
            <span ng-show="theForm.name.$error.required"> Required. </span>
            <span ng-show="theForm.name.$error.minlength"> Too short. </span>
            <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
        </div>
    </div>
    <br>
    <div>
        Video Waterfall:
        <div ng-repeat="choice in NewOrgCtrl.videoWaterfalls">
            <input type="checkbox" id="video_waterfalls_{{choice.value}}" name="video_waterfalls_{{choice.value}}" ng-model="choice.checked">
            <label for="video_waterfalls_{{choice.value}}"> {{choice.value}} </label>
        </div>
        <br>
        Display Waterfall:
        <div ng-repeat="choice in NewOrgCtrl.displayWaterfalls">
            <input type="checkbox" id ="display_waterfalls_{{choice.value}}" name="display_waterfalls_{{choice.value}}" ng-model="choice.checked">
            <label for="display_waterfalls_{{choice.value}}"> {{choice.value}} </label>
        </div>
    </div>
    <br>
    <div>
        Status:
        <label for="new_org_status"> Active</label>
        <input type="radio" id="new_org_status" name="status" ng-model="NewOrgCtrl.status" value="active" required>
        <label for="new_org_status"> Inactive</label>
        <input type="radio" id="new_org_status" name="status" ng-model="NewOrgCtrl.status" value="inactive" required>
        <label for="new_org_status"> Pending:</label>
        <input type="radio" id="new_org_status" name="status" ng-model="NewOrgCtrl.status" value="pending" required>
        <div>
            <span ng-show="theForm.status.$error.required"> Required. </span>
        </div>
    </div>
    <input type="submit" value="Save" ng-disabled="!theForm.$valid">
    <div>
        <span>{{lastStatus}}</span>
    </div>
</form>
