<div>&lsaquo; <a href="#/">Back to the Dashboard</a></div>
<h1>Organizations</h1>
<span ng-hide="OrgCtrl.addNew" ng-click="OrgCtrl.addNew = true">Add New Organization</span>
<span ng-show="OrgCtrl.addNew" ng-click="OrgCtrl.addNew = false">Go back to Org list</span>
<new-org ng-show="OrgCtrl.addNew"></new-org>
<div ng-hide="OrgCtrl.addNew" ng-repeat="org in OrgCtrl.orgs" style="padding-top:20px">
    <div>
        Name: <span>{{org.name}}</span>
    </div>
    <div>
        ID: <span>{{org.id}}</span>
    </div>
    <div>
        STATUS: <span>{{org.status}}</span>
    </div>
    <div>
        TAG: <span>{{org.tag}}</span>
    </div>
    <div>
        MIN AD COUNT: <span>{{org.minAdCount}}</span>
    </div>
</div>