<h1>Categories</h1>
<br>
<section class="view">
    <div style="padding-bottom:20px">{{message}}</div>

    <form name="theForm" ng-submit="CategoryCtrl.save(CategoryCtrl.category)">
        <a href="/#/categories">&lsaquo; Back to list</a>

        <div class="form-group" style="padding-top:20px" ng-class="{'has-error': theForm.label.$error.required}">
            <label for="label" class="control-label"> Label: </label>
            <div>
                <input class="col-md-3" class="form-control" type="text" name="label" ng-model="CategoryCtrl.category.label" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.label.$error.required"> Required. </span>
                    <span ng-show="theForm.label.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.label.$error.maxlength"> Too long. </span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.name.$error.required}">
            <label for="name" class="control-label"> Name: </label>
            <div>
                <input class="col-md-3" ng-focus="CategoryCtrl.disableLabelBinding()" class="form-control" type="text" name="name" ng-model="CategoryCtrl.category.name" autocomplete="off" ng-trim="true" ng-minlength="3" ng-maxlength="128" ng-pattern="/^[\w]*[a-zA-Z]+[\w]*$/" required ignore-spaces>
                <span class="help-block">
                    <span ng-show="theForm.name.$error.required"> Required. </span>
                    <span ng-show="theForm.name.$error.minlength"> Too short. </span>
                    <span ng-show="theForm.name.$error.maxlength"> Too long. </span>
                    <span ng-show="theForm.name.$error.pattern"> Invalid characters. </span>
                </span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': theForm.status.$error.required}">
            <label for="status" class="control-label"> Status: </label>
            <div>
                <input type="radio" name="status" ng-model="CategoryCtrl.category.status" value="active" required>
                <label for="new_org_status"> Active</label>
                <br>
                <input type="radio" name="status" ng-model="CategoryCtrl.category.status" value="inactive" required>
                <label for="new_org_status"> Inactive</label>
                <br>
                <input type="radio" name="status" ng-model="CategoryCtrl.category.status" value="pending" required>
                <label for="new_org_status"> Pending</label>
                <br>
                <span class="help-block">
                    <span ng-show="theForm.status.$error.required"> Required. </span>
                </span>
            </div>
        </div>
        <div style="padding:20px 0 40px 0;">
            <input type="submit" value="Save" ng-disabled="!theForm.$valid">
            <input c6-href="/categories" type="button" value="Cancel">
            <input type="button" value="Delete" ng-show="CategoryCtrl.category.id" ng-click="CategoryCtrl.delete()">
            <span ng-show="!theForm.$valid" class="text-danger"> There are errors above. See highlighted fields. </span>
        </div>
    </form>

    <div class="mask" ng-show="CategoryCtrl.loading"></div>

</section>